@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gentleman-2');
@import url('https://fonts.cdnfonts.com/css/fjalla-one-2');
@font-face {
    font-family: 'Hacen Saudi Arabia';
    src: url('fonts/Hacen Saudi Arabia.ttf') format('truetype'); /* تأكد من استخدام المسار الصحيح */
}
/* font-family: "IBM Plex Sans Arabic", serif;  ARABIC*/
/* font-family: "Montserrat", sans-serif;       ENGLISH */
/* font-family: 'Gentleman', sans-serif;        LOGO  */
/* font-family: 'Fjalla One', sans-serif;       MARVEL */
*{
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.arabic-text{
    font-family: "IBM Plex Sans Arabic", serif;
}
.arabic-head{
    font-family: 'Hacen Saudi Arabia', sans-serif;
}
.h1{
    font-size: 32px;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: whitesmoke;
}
body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background: radial-gradient(circle, rgba(7,0,77,1) 0%, rgba(0,5,50,1) 100%);
    background-attachment: fixed;
}
.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-main{
    text-align: center;
    padding-top: 7rem;
    height: 100%;
}
.welcome-main img {
    width: 12rem;
    border-radius: 30px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.6);
}
.welcome-texts {
    margin-top: 40px;
}
.welcome-texts h1{
    font-family: 'Gentleman', sans-serif;;
    font-size: 60px;
    letter-spacing: 3px;
    padding-bottom: 15px;
    color: #fcff00;
}
.welcome-texts p{
    font-family: "IBM Plex Sans Arabic", serif;
    font-size: 20px;
    color: whitesmoke;
}
.welcome-btns{
    margin-top:20px ;
}
.welcome-btn {
    margin: 0px 10px;
    background-color: transparent;
    border-radius: 10px;
    border: rgba(210, 215, 211, 0.3) 1px solid;
    box-shadow: 0px 4px 1px rgba(210, 215, 211, 0.3);
    color: #fcff00;
    min-width: 250px;
    font-size: 30px ;
    font-family: 'Hacen Saudi Arabia', sans-serif;
}
.sp-btn{
    background-color:#fcff00 ;
    color: rgba(7,0,77,1) ;
    box-shadow: 0px 4px 1px rgba(189, 155, 25, 1);
}
.signup-main{
    height: 100%;
    width: 40%;
    max-height: 100vh;
    text-align: center;
    padding-top: 1rem;
}
.signup-main h1{
    font-family: 'Gentleman', sans-serif;;
    font-size: 40px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    color: #fcff00;
}
.signup-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.signup-input{
    background-color: transparent;
    border: rgba(210, 215, 211, 0.3) 1px solid;
    padding:0px 6px;
    border-radius: 7px;
    display: block;
    width: 80%;
    font-size: 18px;
    height: 50px;
    color: whitesmoke;
}
.signup-main p{
    margin: 10px 0px;
    color: #fcff00;
    font-size: 1.8rem;
}
.signup-teamselects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.signup-teamselects input[type="radio"]{
    display: none;
}
.signup-main img{
    width: 70px;
    transition: transform 0.3s, border-color 0.3s;
    border-radius: 100%;
}
.signup-teamselects input[type="radio"]:checked + img{
    border: 1px #fcff00 solid;
    transform: scale(1.02);
}
.signup-main-btn{
    margin-top: 30px;
}
.login-main{
    height: 100%;
    width: 40%;
    max-height: 100vh;
    text-align: center;
}
.login-texts{
    width: 100%;
    margin-top: 4rem;
}
.login-texts h2{
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.125rem;
}
.login-texts h1{
    margin: 20px 0px;
    font-family: 'Gentleman', sans-serif;;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 3px;
    padding-bottom: 5px;
    color: #fcff00;
}
.nav{
    background-color: #050146;
    position: fixed;
    bottom: 0;
    border: #707070 3px solid;
    border-bottom: none;
    border-radius: 36px 36px 0px 0px;
    text-align: center;
    width: 50%;
    height: 4rem;
}
.nav-items {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav-items img{
    width: 2.3rem;
    border-radius: 10px;
}
.nav-img.active {
    border: #fcff00 2px solid;
    filter: brightness(1.2);  
}
.top-head {
    width: 100%;
    text-align: left;
    padding: 20px 25px;
}
.top-head h1{
    color: whitesmoke;
    font-size: 20px;
    display: inline-block;
}
.top-head .h1{
    color: #fcff00;
    font-size: 20px;
    display: inline-block;
}